/************* Side Menu*************************/


:root{
    --sidebar-width:240px;
    --height:64px;
    --clr:white;
    --sid-height-r-width:100%;
    --fnt-siz:20px;
    --hvr-clr: #ff3e3e;
    /* --tst: 10%; */
}
.main-sidebar *,.sidebar  *{
    margin: 0;
    padding:0;
    text-decoration: none;
}
 

.sidebar header{
    color: var(--clr); /*white*/
    height: calc(var(--height)*1.6); /*64px*/
    font-size:calc(var(--fnt-siz)*2);
    line-height:calc(var(--height)*1.6);
    border-bottom: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Ubuntu', sans-serif; 
    /* padding-left:calc(var(--height)/2); */
    /* line-height:100px; */
    /* font-size:var(--height); */
}
.sidebar{  
    left:calc(-1*(var(--sidebar-width)));
    background-color:  #1b1b1b;
    position: fixed;
    width:240px;
    overflow-y: scroll;
    box-sizing: border-box;
    height:var(--sid-height-r-width); /*100%*/
    z-index: 10;
}
.sidebar a{
    display:block;
    width:var(--sid-height-r-width); /*100%*/
    height:var(--height); /*64px*/
    line-height: var(--height); /*64px*/
    padding-left: calc(var(--height)/2); /*64px*/
    color:var(--clr);         /*white*/
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid black;
    font-size: var(--fnt-siz);
    font-weight: bold;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.sidebar a:active,.sidebar a:hover{
    color:var(--hvr-clr);
    box-sizing: border-box;
    border-left:4px solid var(--hvr-clr);
    /* border-bottom:2px solid #ff3e3e; */ 
}
.sidebar a span{
    letter-spacing: 2px;
    text-transform: uppercase;
}
#main-sidebar label #btn:hover,#main-sidebar label #cncl:hover{
    color: var(--hvr-clr);
}
#main-sidebar #check{
    display: none;
}
#main-sidebar label #btn,#main-sidebar label #cncl{
    position: fixed;
    background-color :#262626;
    color:white;
    border:1px solid  #262626;
    margin: 15px 30px;
    font-size:29px;
    cursor: pointer;
    border-radius:5px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    z-index: 10;
    text-align :center;
}
#main-sidebar label #cncl{
    opacity:0;
    visibility:hidden;
}
#check:checked ~ .sidebar{
    left:0;
}
#check:checked ~label #btn{
    visibility: hidden;
}
#check:checked ~ label #cncl{
    opacity:1;
    visibility: visible;
    margin-left:245px;
    /* var(--tst):600px; */
} 

#check:checked ~ section{
    margin:240px;
  
}
/* #check:checked  .main-content{ 
    margin-left: 240px;
} */


body{
    display: flex;
}
.main-content{
    flex:1;
}
/* #outer-sidebar-box{
    flex: 1;
}
.sidebar{
    flex:10;

} */

#outer-sidebar-box{
    /* flex:1; */
    text-align: left;
    box-sizing: border-box;  /*altering*/
    padding-left: 4px;
    width:54px;
    background-color: #262626;
}




/* #main-sidebar{
    box-sizing: border-box;
    padding-left: 4px;
    width:54px;
    background-color: #262626;
    /* display:block; */
    /* margin: auto; *//*
} */
.main-content{
    padding:20px;
}
#main-sidebar label #btn{
    margin:0;
}
@media(max-width:800px){
    #outer-sidebar-box{
        box-sizing: border-box;
        padding-left: 1px;
        width:0px;
        background-color:rgba(255,255,255,.0);
        
        /* display:block; */
        /* margin: auto; */
    }
    #outer-sidebar-box label #btn,label #cncl{
        position: fixed;
        background-color :#262626;
        color:white;
        border:1px solid  #262626;
        margin: 10px 0px;
        font-size:20px;
        cursor: pointer;
        border-radius:5px;
        height: 30px;
        width: 30px;
 
        line-height: 30px;
        text-align :center;
    }
    .main-content{
        margin:30px;
    }
    #outer-sidebar-box label #btn{
        height: 40px;
        width: 40px;
        font-size:30px;
        line-height: 40px;
        text-align :center;
    }
}
body{
    display: flex;
}
div{

    height: 100%;
}
#main-content{
    flex:1;
    font-size: 24px;
    margin:0 5%;
}
#main-content img{
    width:190px;
    height:190px;
    border-radius: 50%;   
}
#ask{
    float:left;
    display:block ;
}