/* section {
    position: relative;
    background: rgb(227, 255, 134);
    overflow: hidden;
} */
/* You could use :after - it doesn't really matter */
 /* section:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.6;
    background-image: url('river.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}  */
/* .tth p{
    z-index: -9;
}  */
/* section::after{
    content: "";
    background-image: url(river.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    background-color: #ffcbad; 
    top: 0;
    left: 0;
    /* bottom: 0;
    right: 0; */
    /* position: absolute;
    display:block;
    width: 487px;
    height:564px;
    z-index: 1;
    overflow: hidden;    
  } */ 

/* .main-content footer{
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}*
/* .tth{
    background-image: url(river.png);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative; 
    z-index: -1; 
}
.main-content section{
    background-color:rgba(255,255,255,.2);
    z-index: 0;
} */
/* p{
    position: relative;
    z-inde;
} */
/* section::after{
    content: "";
    background-image: url(river.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    /* background-color: #ffcbad; *//*
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    /* width: 20px;
    height: 20px; */
    /* z-index: -2;    *//*
  } */
    /* width:80%;
    margin: auto; *//*
}*/
/* {
    width:80%;
    margin: auto;
} */












body{ 
    margin:0;
    background-color: #eff3c6;
    text-align: center; 
    font-family: 'Merriweather', serif;
    font-size: 1.25em;
}   

.main-content #h1{
    margin-top: 0px;
}

.main-content{
    margin: 0 2%;
}

.main-content section{
    /* padding: 0 10%; */ 
    box-sizing: border-box;
    background-image: url(river.png);
    /* background-color: rgba(175, 255, 253, 1); */
    /* background-image: url(river.png); */
    background-repeat: no-repeat;
    background-size: cover; 

}
.tth{
    background-color: rgba(255,255,255,.4);
}
/* .tth p{
color: ;
} */

.main-content p{
    text-align: justify;
    
}

@media(min-width:900px){
    #sub-content section{
        padding: calc(20px + 20px) 10%;
        box-sizing: border-box;
        /* background-image: url(river.png); */
        background-color: #ffcbad;
        background-image: url(river.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* padding-top: 40px; */
    }
}
/* #sub-content{
    padding:40px;
} */
#sub-content #mt{
    width:10em;
    background-color: #3ef1ff;
    border: 2px solid black;
    border-radius: 20%;
    /* float :left; */
}
#sub-content #par{
    width :10em;
    border-radius: 20%;
}
#sub-content #brid{
    width: 10em;
    height :10em;
    border-radius: 20%;
}
#sub-content #ratha{
    width: 10em;
    height :10em;
    border-radius: 20%;
}
#sub-content #bale{
    width: 10em;
    height :10em;
    border-radius: 20%;
}
#sub-content #boy{
    width: 10em;
    height :10em;
    border-radius: 20%;
}
#sub-content #crc{
    color:Green;
}
.tth  img{
    border-radius: 20%;
    
}

#sub-content p{
    text-align: justify;
}
/*/*//*/*//*/*//*/*//*/*//*//////////////////////////////////////////////////////**/


/* SIde bAr */


/*///////////////////////////////////////////////**********************//*/
/* Side-Bar*/
:root{
    --sidebar-width:240px;
    --height:64px;
    --clr:white;
    --sid-height-r-width:100%;
    --fnt-siz:20px;
    --hvr-clr: #ff3e3e;
    /* --tst: 10%; */
}
.main-sidebar *,.sidebar  *{
    margin: 0;
    padding:0;
    text-decoration: none;
}
 

.sidebar header{
    color: var(--clr); /*white*/
    height: calc(var(--height)*1.6); /*64px*/
    font-size:calc(var(--fnt-siz)*2);
    line-height:calc(var(--height)*1.6);
    border-bottom: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Ubuntu', sans-serif; 
    /* padding-left:calc(var(--height)/2); */
    /* line-height:100px; */
    /* font-size:var(--height); */
}
.sidebar{  
    left:calc(-1*(var(--sidebar-width)));
    background-color:  #1b1b1b;
    position: fixed;
    width:240px;
    overflow-y: scroll;
    box-sizing: border-box;
    height:var(--sid-height-r-width); /*100%*/
    z-index: 10;
}
.sidebar a{
    display:block;
    width:var(--sid-height-r-width); /*100%*/
    height:var(--height); /*64px*/
    line-height: var(--height); /*64px*/
    padding-left: calc(var(--height)/2); /*64px*/
    color:var(--clr);         /*white*/
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid black;
    font-size: var(--fnt-siz);
    font-weight: bold;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.sidebar a:active,.sidebar a:hover{
    color:var(--hvr-clr);
    box-sizing: border-box;
    border-left:4px solid var(--hvr-clr);
    /* border-bottom:2px solid #ff3e3e; */ 
}
.sidebar a span{
    letter-spacing: 2px;
    text-transform: uppercase;
}
#main-sidebar label #btn:hover,#main-sidebar label #cncl:hover{
    color: var(--hvr-clr);
}
#main-sidebar #check{
    display: none;
}
#main-sidebar label #btn,#main-sidebar label #cncl{
    position: fixed;
    background-color :#262626;
    color:white;
    border:1px solid  #262626;
    margin: 15px 30px;
    font-size:29px;
    cursor: pointer;
    border-radius:5px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    z-index: 10;           /*because it keeps btn in front of div and other cont*/
    text-align :center;
}
#main-sidebar label #cncl{
    opacity:0;
    visibility:hidden;
}
#check:checked ~ .sidebar{
    left:0;
}
#check:checked ~label #btn{
    visibility: hidden;
}
#check:checked ~ label #cncl{
    opacity:1;
    visibility: visible;
    margin-left:245px;
    /* var(--tst):600px; */
} 

#check:checked ~ section{
    margin:240px;
  
}
/* #check:checked  .main-content{ 
    margin-left: 240px;
} */


body{
    display: flex;
}
.main-content{
    flex:1;
}
/* #outer-sidebar-box{
    flex: 1;
}
.sidebar{
    flex:10;

} */

#outer-sidebar-box{
    /* flex:1; */
    text-align: left;
    box-sizing: border-box;  /*altering*/
    padding-left: 4px;
    width:54px;
    background-color: #262626;
}




/* #main-sidebar{
    box-sizing: border-box;
    padding-left: 4px;
    width:54px;
    background-color: #262626;
    /* display:block; */
    /* margin: auto; *//*
} */
.main-content{
    padding:20px;
}
#main-sidebar label #btn{
    margin:0;
}
@media(max-width:800px){
    #outer-sidebar-box{
        box-sizing: border-box;
        padding-left: 1px;
        width:0px;
        background-color:rgba(255,255,255,.0);
        
        /* display:block; */
        /* margin: auto; */
    }
    #outer-sidebar-box label #btn,label #cncl{
        position: fixed;
        background-color :#262626;
        color:white;
        border:1px solid  #262626;
        margin: 10px 0px;
        font-size:20px;
        cursor: pointer;
        border-radius:5px;
        height: 30px;
        width: 30px;
 
        line-height: 30px;
        text-align :center;
    }
    .main-content{
        margin:30px;
    }
    #outer-sidebar-box label #btn{
        height: 40px;
        width: 40px;
        font-size:30px;
        line-height: 40px;
        text-align :center;
    }
}
/* body .main-content{
    var(--tst);
} */


:root{
    --box-wid:100px;
    --box-higt:50px;
    --brdr:black;
    --bg-clr:#262626;
    --btnclr:rgb(9, 255, 0);
    --fnt-size:18px;
    --brd-rad:10px;

}


/****************************BAck to top*/
#bck-to-top{
    text-decoration: none;
    background-color: var(--bg-clr) ;
    border-radius: var(--brd-rad);
    font-size: 18px;
    box-sizing: border-box;
    border:2px solid var(--brdr);
    padding: 10px;
    width:var( --box-wid);
    height: var(--box-higt);
    color:var(--btnclr);
    box-sizing: border-box;
}
#bck-to-top:link,#bck-to-top:visited{
    color:var(--btnclr);
}
#bck-to-top:hover{
    box-sizing: border-box;
    border:4px solid var(--brdr);
    background-color: var(--bg-clr) ;
}
#bck-to-top:active{
    color:var(--hvr-clr);
}



/******** Features ********************/
#features{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* #feature div{
    margin: 40px; 

} */
#features img{
    width: 400px;
    height: 200px;
    margin: 40px; 
    margin-bottom: 0px;
    margin-top: 80px;  
    border: 2px solid black;
    box-sizing: border-box;
}
#features img:hover{
    border: 4px solid goldenrod;
    filter:blur(2px);
}
#features a{
    text-decoration: none;
    letter-spacing: 1px;     
}
#features .hvr4{
    text-decoration: none;
    background-color: var(--bg-clr) ;
    border-radius: var(--brd-rad);
    font-size: var(--fnt-size);
    box-sizing: border-box;
    border:2px solid var(--brdr);
    padding: 10px;
    color:var(--btnclr);
    width:var( --box-wid);
    height: var(--box-higt);
    margin:auto; 
}
#features .hvr4:visited{
    color:var(--btnclr)
}
#features .hvr4:hover{
    border:4px solid var(--brdr);
    background-color: var(--bg-clr) ;
}
#features .hvr4:active{
    color:var(--hvr-clr);
}
